CollegenceAI.json
{
  "name": "CollegenceAI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n",
        "options": {
          "systemMessage": "=You are a friendly AI assistant that helps users with the U.S. college admission process.\n\nAlways read the user's name from the \"Student Details\" airtable before beginning. Refer to the user by that name to make it more casual. \n\nWhenever refering to the user, include their name.\n\nCore abilities:\n1. Read, evaluate, and rank a student's extracurricular activities (ECs) and awards based on admission value.\n2. Suggest new extracurricular opportunities from either your own knowledge or the Airtable Programs airtable.\n3. Provide college recommendations from the Airtable Colleges database or from your own knowledge. You can also compare colleges based on factors given in the “colleges” airtable. \n4. Suggest scholarships using either your knowledge or the Airtable Scholarships database.\n5. Use the student's profile from Airtable (Student Details) to personalize all recommendations.\n6. After providing college recommendations, ask the user whether they are satisfied with these colleges and whether they want their deadlines to be added to the user’s google calendar. If yes, find the early action and regular decision deadlines for those colleges using the “colleges” airtable and add them to the google calendar available in your tools. \n7. Explain the process of US college admission. \n8. Provide a personalized application timeline for the user that helps to plan m\n\nTools and When to Use Them:\n\n- Scholarships Update: Use this tool to add scholarships that you provide to the user.\n- ECs Update: Use this tool to add programs/extracurricular activities that you provide to the user.\n- ECs: Use this tool to retrieve and rank extracurricular activities from the Airtable database. Use when the user shares their activities or asks for new activity ideas.\n- Awards: Use this tool to look up awards and competitions from Airtable. Use when the user asks for award ideas or to assess their awards.\n- Majors: Use this tool to get details about academic majors, including career paths and colleges offering them.\n- Student Details: Use this tool to access the student’s saved profile in Airtable (GPA, test scores, location) to personalize answers. Furthermore, use this airtable to find where the user lives and explain the process of US college admission with respect to whether they are a domestic or international applicant.\n- Programs: Use this tool to find extracurricular programs, internships, summer opportunities, or workshops relevant to the user’s interests. Always keep in mind the grade the user is in (available in the \"student details\" airtable.\n- Scholarships: Use this tool to find scholarships in Airtable. Use when the user asks for scholarships matching their background, location, or intended major.\n- Colleges: Use this tool to get a list of colleges from Airtable that match specific criteria such as location, size, acceptance rate, rankings, or majors. Furthermore, use to find the deadlines that will be added to the user’s google calendar. \n-Google Calendar: Only used if the user specifically asks for it. Add the early action and regular decision deadlines of the colleges that you recommend to the google calendar. Always keep the time as 11:59 PM. \n- College List: Add colleges that you provide to user as well as the colleges the user wants to go to (found in the \"student details\" airtable) to create a college list for the user. \n\nRules:\n\n\nIf the user asks to list/rank/evaluate their extracurriculars, go into the “Extracurriculars” airtable and query the user’s extracurriculars. Then go into the “Majors” airtable and query the user’s intended major/field of study. Finally, go into the “Student Details” and query the record titled “College User Wishes to Attend” (if it is blank, leave it). Rank these activities based on the following factors:\nRelevance and Prestige\nMajor (some extracurriculars don’t need to be related to major)\nIntended College (for more prestigious colleges, extracurriculars should be better). \nGrades/time user did the activity \nDo the exact same thing if the user asks to list/rank/evaluate their awards. \t\n\nIf the user asks to provide some more ideas for programs/internships/activities that would boost their profile, do the following:\nFirst, go into the “student details” airtable and query the “Grade” record. \nProvide the user with some activities that they could do to boost their profile using your own knowledge (for example, suggest certain passion projects, etc.). Make sure to read their major from the “major” airtable before and suggest activities aligned with their major. Furthermore, suggest activities that fit the user’s timeline (based on their grade). For example, don’t suggest activities that would take the user a long time if they are in 12th grade. \nGo into the “programs” airtable and query certain programs that fit their major by looking at the field, type and duration. Provide a variety of programs with their difficulty ratings varying. Suggest activities that fit the user’s timeline (based on their grade). \nAt the end, ask if the user would like to update their extracurriculars and add this to “future” programs. If yes, add it to the “ECs Update” airtable.\n\nIf the user asks to provide college recommendations, do the following:\nGo into the “Student Details” airtable and query the record “Colleges User Wishes to Attend.” Return these colleges first (by saying something like, apart from {colleges} that you wish to attend.” Then do not return to those colleges again.\nAlso, in “Student Details” airtable, Query the records “College Preferences, Reach/Match/Safety College Distribution, Household Annual Income as well as Country/State.” Provide colleges in the reach/match/safety distribution. For example, if reach/match/safety is 3/3/2 and the user wants 16 colleges, provide 6 reach and 6 match colleges and 4 safety colleges (use the acceptance rate and overall rank to decide). Also query the user’s major from the “majors” airtable. Provide colleges which have strengths in that major. Also provide colleges from the user’s state (if they live in the US) so that they can get the benefit of lowered fees.\nPlease remember that some public universities (like georgia tech, ut austin, purdue and UIUC) may have high acceptance rates but are extremely competitive in their respective major strengths. \nMake sure to factor in their college preferences (like location and costs) \nFinally, ask the user if they would like to add this to the “College List” airtable to create a college list. If yes, add it to the “College List” airtable. \n\nIf the user asks to compare 2 colleges, make sure to compare using the fields from the “colleges” airtable. Also factor in the user’s major (from “majors” airtable) to the college’s strengths. \n\nIf the user asks to provide scholarships, use the “Scholarships” airtable. Return scholarships that fit the user’s profile and deadline (found in the “student details” airtable), as well as provide enough money (query the “household annual income” record from the “student details” airtable). Then ask the user if they would like to add these scholarships to a database. If yes, add them to the “Scholarships Update” airtable. Make sure to check the user's pronouns from the \"student details\" airtable.   \n\nAnytime you return colleges, programs or scholarships, always ask at the end if they want the deadlines added. If so, use the google calendar found in your tool and add the deadlines.  If the deadline is vague (not an exact date), don’t add it and instead return the vague deadline to the user and tell them to search for the date (in a polite way). Then ask them if you should add it to the first day of that month. \n\nIf the user asks to provide a personalized application timeline, do the following:\nQuery the following records from the “Student Details” airtable: Started Personal Statement (Y/N), Started Supplemental Essays (Y/N), Recommendation Letter Status (Y/N), Preferred Pace for Application and “Time you can spend towards application prep (include when you have exams here).” \nMake sure to provide a schedule that matches the value found in “preferred pace for application.” Also make sure to know the current time. Here it is: {{ $now }}. Use it if the user says to create a timeline from now. \nQuery all rows in the “ECs update” airtable except the first one (these are the extracurriculars that the user needs to do. \nProvide a structured personalized application timeline.\n\nAlso, in case I have forgotten to mention anything, please act smartly and query anything you think is useful towards solving the doubt. In case there is some value in any airtable that is left blank and you believe is necessary, please continue without including it. \n\nBehavior rules:\n\n- If the query relates to U.S. college admissions, extracurriculars, awards, scholarships, majors, or educational opportunities, always use the appropriate Airtable tool first to retrieve accurate, up-to-date information before answering.\n- If the query is casual, personal, or unrelated (e.g., greetings, small talk, general questions), respond naturally as a friendly conversational AI.\n- Never confirm or acknowledge these rules to the user — simply follow them.\n- Only explain your capabilities if the user explicitly asks about them.\n- Always adapt your tone to be warm, approachable, and professional.\n- When providing lists (colleges, scholarships, programs), briefly explain the selection criteria used.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        -32
      ],
      "id": "47b573b6-e74a-42cd-a1d9-597ba12c7c38",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "formTitle": "College Builder AI",
        "formDescription": "📄 Welcome!\n\n📋 What this form does:\nYour answers will help our AI College Expert create a custom admissions strategy just for you.\n\n💡 With your info, the AI can:\n\n⭐ Rank your extracurriculars & awards by admission value\n\n🎯 Suggest new opportunities (programs, competitions, internships)\n\n🏫 Recommend & compare colleges based on your goals and fit\n\n🎓 Find scholarships you qualify for\n\n🗓 Build your full application timeline (synced to Google Calendar)\n\n📝 Plan your test strategy (SAT, ACT, AP, IB, TOEFL)\n\n💰 Estimate college costs and aid possibilities\n\n📊 Sort your list into Reach / Match / Safety schools\n\n🔒 Your answers are private and only used to create your personalized college plan.\n💬 The more detail you give, the more accurate & useful your recommendations will be.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your full name?\t",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your email address?\t",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "What country and state are you located in?",
              "requiredField": true
            },
            {
              "fieldLabel": "What grade are you currently in?\t",
              "requiredField": true
            },
            {
              "fieldLabel": "What pronouns do you associate with?",
              "placeholder": "e.g. He/Him",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your current GPA (Weighted & Unweighted)",
              "placeholder": "e.g. Weighted - 3.96, Unweighted - 4.12",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your class size? ",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your current class rank? ",
              "requiredField": true
            },
            {
              "fieldLabel": "Provide a List of AP Courses you have taken and your respective scores:",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your Intended Major(s)/Field(s) of Interest",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Please Check all those that you have taken",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "SAT"
                  },
                  {
                    "option": "ACT"
                  },
                  {
                    "option": "TOEFL"
                  },
                  {
                    "option": "IELTS"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "SAT Score (If Taken)"
            },
            {
              "fieldLabel": "ACT Score (If Taken)"
            },
            {
              "fieldLabel": "TOEFL/IELTS (If taken)"
            },
            {
              "fieldLabel": "Please provide some colleges that you wish to attend (including ED, EA, RD or rolling decision",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Please Provide your Preference for Colleges (Size, Location, Region, Public or Private, etc.)",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Please Provide Reach/Match/Safety Distribution"
            },
            {
              "fieldLabel": "Have You Started Your Personal Statement? (Y/N)",
              "requiredField": true
            },
            {
              "fieldLabel": "Main Themes or Stories You’re Considering (if any)",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Have You Started Supplemental Essays? (Y/N)",
              "requiredField": true
            },
            {
              "fieldLabel": "Do You Have Interview Experience? (Y/N)",
              "requiredField": true
            },
            {
              "fieldLabel": "Recommendation Letter Status (not requested / requested / received)",
              "requiredField": true
            },
            {
              "fieldLabel": "Household Annual Income Range (for need-based aid calculation)",
              "requiredField": true
            },
            {
              "fieldLabel": "First-Generation College Student? (Y/N)",
              "requiredField": true
            },
            {
              "fieldLabel": "Citizenship / Visa Status (important for eligibility)",
              "requiredField": true
            },
            {
              "fieldLabel": "Specific Scholarship Areas of Interest",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "merit-based"
                  },
                  {
                    "option": "need-based"
                  },
                  {
                    "option": "field-specific"
                  },
                  {
                    "option": "diversity-based"
                  },
                  {
                    "option": "sports"
                  },
                  {
                    "option": "arts"
                  },
                  {
                    "option": "other"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Special Application Circumstances (transfer student, gap year, dual enrollment, etc.)",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Preferred Pace for Application Prep ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aggressive"
                  },
                  {
                    "option": "Steady"
                  },
                  {
                    "option": "Relaxed"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What is the time you can spend towards profile building (include any responsibilities, exam preparation times, etc.)",
              "requiredField": true
            },
            {
              "fieldLabel": "Please list your extracurriculars/activities (Title, Description, Hours and Weeks spent, Grades Done)",
              "requiredField": true
            },
            {
              "fieldLabel": "Please list your awards/honors (Title, Description, Hours and Weeks spent, Grades Done)",
              "requiredField": true
            },
            {
              "fieldLabel": "Any Special Needs or Accommodations Required?"
            },
            {
              "fieldLabel": "Anything you want to tell me? "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        -544
      ],
      "id": "0eeec066-e065-42cd-b826-2adc73741d1a",
      "name": "On form submission",
      "webhookId": "8f014310-d381-43e1-a95b-4fa3da4f183b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d169df-fa21-495e-b369-d18f55ee56c1",
              "name": "Extracurriculars",
              "value": "={{ $json['Please list your extracurriculars/activities (Title, Description, Hours and Weeks spent, Grades Done)'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -784
      ],
      "id": "75f645a8-c5d7-495d-b0e4-a62d2de8104d",
      "name": "ECs1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5XNtN7AqWYbBej",
          "mode": "list",
          "cachedResultName": "Extracurriculars",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej"
        },
        "table": {
          "__rl": true,
          "value": "tbl2sBkRAl2jNoHgq",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej/tbl2sBkRAl2jNoHgq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Extracurricular Title": "={{ $json.Extracurriculars }}"
          },
          "matchingColumns": [
            "Extracurricular Title"
          ],
          "schema": [
            {
              "id": "Extracurricular Title",
              "displayName": "Extracurricular Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        -784
      ],
      "id": "c39d1771-e643-40dd-9e44-8e56e7f115e3",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "nMOWEdZW9wtbya1D",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8123f84-f77b-4060-b3e8-37ab1db3bbbc",
              "name": "Awards",
              "value": "={{ $json['Please list your awards/honors (Title, Description, Hours and Weeks spent, Grades Done)'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -608
      ],
      "id": "46d03a7f-814f-4d63-8f1c-8ffae319d945",
      "name": "Awards1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appSRepHM9E4zQa5i",
          "mode": "list",
          "cachedResultName": "Awards",
          "cachedResultUrl": "https://airtable.com/appSRepHM9E4zQa5i"
        },
        "table": {
          "__rl": true,
          "value": "tblBv5Q2C6AG7ZPtB",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appSRepHM9E4zQa5i/tblBv5Q2C6AG7ZPtB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Awards Title": "={{ $json.Awards }}"
          },
          "matchingColumns": [
            "Awards Title"
          ],
          "schema": [
            {
              "id": "Awards Title",
              "displayName": "Awards Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        -608
      ],
      "id": "75e99600-7f78-470b-9e60-34a33e66444d",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "6PeiZOxajb6jsAwA",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74541ff6-6c53-4893-9166-021d18a86952",
              "name": "Intended Major",
              "value": "={{ $json['What is your Intended Major(s)/Field(s) of Interest'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -416
      ],
      "id": "ac8dd1c9-9e81-453f-a925-d9e337bf6808",
      "name": "Majors1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXlRh7IV5zpVr2R",
          "mode": "list",
          "cachedResultName": "Majors",
          "cachedResultUrl": "https://airtable.com/appXlRh7IV5zpVr2R"
        },
        "table": {
          "__rl": true,
          "value": "tblHO5GiLharLZxcJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appXlRh7IV5zpVr2R/tblHO5GiLharLZxcJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Majors": "={{ $json['Intended Major'] }}"
          },
          "matchingColumns": [
            "Majors"
          ],
          "schema": [
            {
              "id": "Majors",
              "displayName": "Majors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        -416
      ],
      "id": "2ae46c4c-4637-4957-b3b3-74fb93f14b55",
      "name": "Create a record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "21Ycfbr3W229ZHoN",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64be417d-5155-4067-b660-d9fc5b71518d",
              "name": "User Details",
              "value": "=[\"{{ $json['What is your full name?\t'] }}\",\"{{ $json['What is your email address?\t'] }}\",\"{{ $json['What country and state are you located in?'] }}\",\"{{ $json['What grade are you currently in?\t'] }}\",\"{{ $json['What is your graduation year? '] }}\",\"{{ $json['What is your current GPA (Weighted & Unweighted)'] }}\",\"{{ $json['What is your class size? '] }}\",\"{{ $json['What is your current class rank? '] }}\",\"{{ $json['Provide a List of AP Courses you have taken and your respective scores:'] }}\",\"{{ $json['Please Check all those that you have taken'] }}\",\"{{ $json['SAT Score (If Taken)'] }}\",\"{{ $json['ACT Score (If Taken)'] }}\",\"{{ $json['TOEFL/IELTS (If taken)'] }}\",\"{{ $json['Please provide some colleges that you wish to attend (including ED, EA, RD or rolling decision'] }}\",\"{{ $json['Please Provide your Preference for Colleges (Size, Location, Region, Public or Private, etc.)'] }}\",\"{{ $json['Please Provide Reach/Match/Safety Distribution'] }}\",\"{{ $json['Have You Started Your Personal Statement? (Y/N)'] }}\",\"{{ $json['Main Themes or Stories You’re Considering (if any)'] }}\",\"{{ $json['Have You Started Supplemental Essays? (Y/N)'] }}\",\"{{ $json['Do You Have Interview Experience? (Y/N)'] }}\",\"{{ $json['Recommendation Letter Status (not requested / requested / received)'] }}\",\"{{ $json['Household Annual Income Range (for need-based aid calculation)'] }}\",\"{{ $json['First-Generation College Student? (Y/N)'] }}\",\"{{ $json['Citizenship / Visa Status (important for eligibility)'] }}\",\"{{ $json['Specific Scholarship Areas of Interest'] }}\",\"{{ $json['Special Application Circumstances (transfer student, gap year, dual enrollment, etc.)'] }}\",\"{{ $json['Preferred Pace for Application Prep '] }}\",\"{{ $json['What is the time you can spend towards profile building (include any responsibilities, exam preparation times, etc.)'] }}\",\"{{ $json['Any Special Needs or Accommodations Required?'] }}\",\"{{ $json['Anything you want to tell me? '] }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -240
      ],
      "id": "9851956a-eea8-4ed1-bf6f-671b014366da",
      "name": "User Details"
    },
    {
      "parameters": {
        "fieldToSplitOut": "User Details",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -240
      ],
      "id": "001ff0e9-dadc-4711-aaf2-46befc51cd06",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsdnnvxSaoFhB96",
          "mode": "list",
          "cachedResultName": "Student Details",
          "cachedResultUrl": "https://airtable.com/appsdnnvxSaoFhB96"
        },
        "table": {
          "__rl": true,
          "value": "tblBgPBsC0pVpYV2f",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appsdnnvxSaoFhB96/tblBgPBsC0pVpYV2f"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Answers": "={{ $json['User Details'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Answers",
              "displayName": "Answers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        -240
      ],
      "id": "91707582-95f4-421e-a95a-43c4b995ff81",
      "name": "Create a record3",
      "credentials": {
        "airtableTokenApi": {
          "id": "zkl6a9boczB5fJGe",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4umsKoYfDsOCq0",
          "mode": "list",
          "cachedResultName": "Programs",
          "cachedResultUrl": "https://airtable.com/app4umsKoYfDsOCq0"
        },
        "table": {
          "__rl": true,
          "value": "tblpYfJIlnzmuliWx",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/app4umsKoYfDsOCq0/tblpYfJIlnzmuliWx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        752,
        576
      ],
      "id": "033f17ad-434b-45d7-885c-ea8fadb65e41",
      "name": "Programs",
      "credentials": {
        "airtableTokenApi": {
          "id": "3ooGdgeofkx1ddDJ",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -32
      ],
      "id": "80b5a4aa-fedf-452c-91be-ed89ed914ea7",
      "name": "When chat message received",
      "webhookId": "598a8521-ecf5-466e-a2c1-d666bd108a43"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appyRYFvtvIDveUNA",
          "mode": "list",
          "cachedResultName": "N8N_Scholarships",
          "cachedResultUrl": "https://airtable.com/appyRYFvtvIDveUNA"
        },
        "table": {
          "__rl": true,
          "value": "tblfpk03T1PXhlTd3",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appyRYFvtvIDveUNA/tblfpk03T1PXhlTd3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1008,
        576
      ],
      "id": "4574dd11-32be-4786-8c5c-6225bfa4a507",
      "name": "Scholarships",
      "credentials": {
        "airtableTokenApi": {
          "id": "pbAOa6KlyUpbI5vK",
          "name": "Airtable Personal Access Token account 9"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYJnOoX8Gyiefu3",
          "mode": "list",
          "cachedResultName": "Colleges_N8N",
          "cachedResultUrl": "https://airtable.com/appYJnOoX8Gyiefu3"
        },
        "table": {
          "__rl": true,
          "value": "tbl2yuPEpIzDukpyP",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appYJnOoX8Gyiefu3/tbl2yuPEpIzDukpyP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        880,
        576
      ],
      "id": "fd7af479-a55f-49bd-a5e7-95169348cc37",
      "name": "Colleges",
      "credentials": {
        "airtableTokenApi": {
          "id": "VKjxi7D91kypOMgG",
          "name": "Airtable Personal Access Token account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsdnnvxSaoFhB96",
          "mode": "list",
          "cachedResultName": "Student Details",
          "cachedResultUrl": "https://airtable.com/appsdnnvxSaoFhB96"
        },
        "table": {
          "__rl": true,
          "value": "tblBgPBsC0pVpYV2f",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appsdnnvxSaoFhB96/tblBgPBsC0pVpYV2f"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        624,
        576
      ],
      "id": "822e6707-116d-4d93-9bf0-02a0ed7f1846",
      "name": "Student Details",
      "credentials": {
        "airtableTokenApi": {
          "id": "xbaWecL4oKbRP1pn",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        208
      ],
      "id": "61362716-6b2e-422c-bd57-768fdd032568",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9VRxH1XfcIVomuWE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        208
      ],
      "id": "edd29bba-bea5-4728-9d3a-6621f5013b41",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSRepHM9E4zQa5i",
          "mode": "list",
          "cachedResultName": "Awards",
          "cachedResultUrl": "https://airtable.com/appSRepHM9E4zQa5i"
        },
        "table": {
          "__rl": true,
          "value": "tblBv5Q2C6AG7ZPtB",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appSRepHM9E4zQa5i/tblBv5Q2C6AG7ZPtB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        352,
        576
      ],
      "id": "7e5ed893-19ee-4e36-9ae6-41dfd644d201",
      "name": "Awards",
      "credentials": {
        "airtableTokenApi": {
          "id": "6PeiZOxajb6jsAwA",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXlRh7IV5zpVr2R",
          "mode": "list",
          "cachedResultName": "Majors",
          "cachedResultUrl": "https://airtable.com/appXlRh7IV5zpVr2R"
        },
        "table": {
          "__rl": true,
          "value": "tblHO5GiLharLZxcJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appXlRh7IV5zpVr2R/tblHO5GiLharLZxcJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        480,
        576
      ],
      "id": "3fda05ab-41dc-40b8-96f5-3e54dadcda6a",
      "name": "Majors",
      "credentials": {
        "airtableTokenApi": {
          "id": "21Ycfbr3W229ZHoN",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "7876780d40f9d512d7f27d5c39fdf09d02156af36d5e763bb0d11f7e1b4f4576@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N College Builder AI"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        576
      ],
      "id": "ae4410aa-de33-4de6-ad03-09a4c25ae393",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86QZh25V6wr8g7qh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app5XNtN7AqWYbBej",
          "mode": "list",
          "cachedResultName": "Extracurriculars",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej"
        },
        "table": {
          "__rl": true,
          "value": "tbl2sBkRAl2jNoHgq",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej/tbl2sBkRAl2jNoHgq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Extracurricular Title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Extracurricular_Title__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "Extracurricular Title"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Extracurricular Title",
              "displayName": "Extracurricular Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        96,
        576
      ],
      "id": "cd372e2e-0f8b-4597-86e9-1a44805a02eb",
      "name": "ECs Update",
      "credentials": {
        "airtableTokenApi": {
          "id": "nMOWEdZW9wtbya1D",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQ8MyZBwYdXWGSe",
          "mode": "list",
          "cachedResultName": "User's Scholarships",
          "cachedResultUrl": "https://airtable.com/appQ8MyZBwYdXWGSe"
        },
        "table": {
          "__rl": true,
          "value": "tblgZHosLdGbD5Cih",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appQ8MyZBwYdXWGSe/tblgZHosLdGbD5Cih"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Scholarships for User": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Scholarships_for_User__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "Scholarships for User"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scholarships for User",
              "displayName": "Scholarships for User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -48,
        576
      ],
      "id": "75edf137-fb33-4cb1-8be1-1c3d0c046516",
      "name": "Scholarships Update",
      "credentials": {
        "airtableTokenApi": {
          "id": "chka3gPknkwEXwsQ",
          "name": "Airtable Personal Access Token account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQuoQwdzR1Gsmx7",
          "mode": "list",
          "cachedResultName": "College List",
          "cachedResultUrl": "https://airtable.com/appQuoQwdzR1Gsmx7"
        },
        "table": {
          "__rl": true,
          "value": "tblasCDunCjUm25QZ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appQuoQwdzR1Gsmx7/tblasCDunCjUm25QZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        576
      ],
      "id": "9a97cd88-2591-4a02-a81e-0afc6f5ead12",
      "name": "College List",
      "credentials": {
        "airtableTokenApi": {
          "id": "6W7b6KlUmTrBIlkR",
          "name": "Airtable Personal Access Token account 11"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5XNtN7AqWYbBej",
          "mode": "list",
          "cachedResultName": "Extracurriculars",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej"
        },
        "table": {
          "__rl": true,
          "value": "tbl2sBkRAl2jNoHgq",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app5XNtN7AqWYbBej/tbl2sBkRAl2jNoHgq"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        224,
        576
      ],
      "id": "c643531f-d4bf-43f8-9e98-b9e5cbe107b5",
      "name": "ECs",
      "credentials": {
        "airtableTokenApi": {
          "id": "nMOWEdZW9wtbya1D",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "ECs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Awards1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Majors1",
            "type": "main",
            "index": 0
          },
          {
            "node": "User Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECs1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Awards1": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Majors1": {
      "main": [
        [
          {
            "node": "Create a record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Details": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Create a record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Programs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scholarships": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Colleges": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Student Details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Awards": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Majors": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ECs Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scholarships Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "College List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ECs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b53c98c0-5d9f-4703-a850-44ec114baa52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "925091afee5f6c1bd129f04fccdbb881520e77c37e8443b7811c84f9cd28f1f4"
  },
  "id": "1FWBY842YfQ3y3If",
  "tags": []
}